* {
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 10px;
  align-items: center;
  font-family: monospace;
  background: #e8e8e8;
}

.dark {
  background-color: #131425;
  color: #f2f7a1;
}

/* ------ */

.logo {
  padding: 0px;
  margin: 5px;
  height: 80px;
  width: 80px;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  position: absolute;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
  justify-content: space-evenly;
  position: relative;
}

nav ul li a:hover {
  color: orangered;
  transition: 1s;
}

.container {
  margin-right: 100px;
  margin-left: 100px;
}

.header-text {
  max-width: 300px;
  margin-top: 200px;
}

h1 {
  font-size: 20px;
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #212121;
  margin: 15px 0px;
}

.about-btn {
  padding: 18px;
  background: transparent;
  outline: none;
  border: 2px solid orangered;
  font-weight: bold;
  cursor: pointer;
}

p {
  font-size: 15px;
  line-height: 18px;
  color: black;
}

.header-text button {
  margin-top: 20px;
  margin-bottom: 60px;
}
.line-1 {
  width: 15px;
  height: 15px;
  background: orangered;
  display: inline-block;
}

.line-2 {
  width: 80px;
  height: 1px;
  background: orangered;
  display: inline-block;
}

.line-3 {
  width: 60px;
  height: 1px;
  background: orangered;
  display: inline-block;
}

.line {
  line-height: 8px;
}

/* about section */
#about {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-left-col {
  flex-basis: 50%;
}

.about-left-col img {
  width: 100%;
}

.about-right-col {
  flex-basis: 50%;
  text-align: right;
}

.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}

.about-text h2 {
  margin: 50px 0 10px;
  font-size: 24px;
  font-weight: bold;
}

#content {
  position: absolute;
  top: 0;
  margin-top: 0;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  font-size: 10vh;
  line-height: 10vh;
  margin-left: 7.3vw;
}

#img-container {
  height: 50vh;
  background-color: #f9f8f7;
  color: black;
  border: 1px solid #0e7c7b;
  display: flex;
  align-items: center;
}

.wrapper {
  max-height: 100vh;
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
}

.wrapper i {
  width: 46px;
  height: 46px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  background: #e8e8e8;
  text-align: center;
  line-height: 5px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.wrapper i:first-child {
  left: 10px;
}

.wrapper i:last-child {
  right: 10px;
}

.wrapper .carousel {
  margin: 10px;
  font-size: 16px;
  cursor: crosshair;
  overflow: hidden;
  white-space: nowrap;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% / 6);
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

.rated {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}
.scroll-bg {
  background: #131425;
  width: 400px;
  margin: 10% auto;
  padding: 10px 20px;
  border-radius: 50px;
}

.scroll-div {
  width: 400px;
  background: #131425;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-objt {
  color: #e8e8e8;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  padding: 10px 20px;
}

/* join */

.contact-row {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
}

.contact-left-col,
.contact-right-col {
  flex-basis: 50%;
}

.inputBox {
  position: relative;
  display: inline-block;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid orangered;
  background: #e8e8e8;
  border-radius: 5px;
  outline: none;
  color: #212121;
  font-size: 1rem;
  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1rem;
  color: #0e7c7b;
  text-transform: uppercase;
  margin-top: 5px;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #e8e8e8;
  background: #0e7c7b;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  text-transform: lowercase;
  border-left: 1px solid #212121;
  border-right: 1px solid #212121;
  letter-spacing: 0.2rem;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span {
  background: #0e7c7b;
  color: #e8e8e8;
  border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #e8e8e8;
}

.join-left-col {
  flex-basis: 50%;
}

.join-left-col img {
  width: 100%;
}

.join-right-col {
  flex-basis: 50%;
  text-align: center;
}

.join-text {
  max-width: 500px;
  margin-top: 20px;
  margin-right: 10px;
  display: inline-block;
}

.join-text h2 {
  margin: 50px 0 10px;
  font-size: 24px;
  font-weight: bold;
}
